.box_content{
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    max-width: 400px;
    border-radius: 8px;
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column  ;
    margin: 0 auto;
}

.custom_link{
    display: flex;
    padding: 0;
}


.custom_link input{
    width: 70%;
    text-align: left;
    padding-left: 20px;
}

.custom_link button{
    width: 30%;
}

input, button {
    border-radius: 6px;
    padding: 8px;
    margin: 4px;
    border: #f0f0f0 solid 2px;
    text-align: center;
    outline: none !important;
    font-size: 14px;
}


.spanError {
    display: none;
    color: red;
    padding: 10px;
    margin: 4px;
    background-color: #ffdfdf;
    border-radius: 6px;
    padding: 8px;
}

button {
    cursor: pointer;
    transition: ease 0.2s;
    background-color:#007eac ;
    border: 2px solid #007eac ;
    color: #fff;
    
}

button:hover {
    background-color:#228fb7 ;
    border: 2px solid #228fb7 ;
    transition: ease 0.2s;
}

.box_short_url{
    display: none; /* hide empty short link */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.box_short_url input{
    width: 100%;
}

button{
    padding: 8px 24px;
}


.box_qrcode {
    display: none; /* hide empty QR Code */
    flex-direction: column;
    margin-bottom: 10px;    
}
input:focus  {
    background-color: #cccccc3b;
    border: #cccccc3b 2px solid;   
}

input:hover  {
    background-color: #b0eaff3b;
    border: #b0eaff3b 2px solid;
}




.qrcode_image img {
    background-size: cover;
    height: 180px;
    width: 180px;
    margin: 0px auto;
    cursor: pointer;
    transform: scale(1.00);
    transition: .2s ease;
}

.qrcode_image img:hover {
    transform: scale(1.05);
    transition: .4s ease;
}