.container {
    background-color: #f0f0f0;
    padding: 10px;
    display: block;
    flex-direction: row;
    bottom: 10px;
}

.container p{
    color: #007eac;
    margin: 6px auto 6px;
}

.container a {
    text-decoration: none;
    color: #646464;
    font-size: 14px;
    line-height: 1.5;
}