.container {
    background-color: #f0f0f0;
    padding: 32px 0px 16px;
}

.navmenu {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}





h1 {
    color: #007eac;
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
}


.logo {
    width: 130px;
    border-radius: 8px;
    animation: rotation 8s infinite linear;
}
/*
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  */



  